<!-- views/login.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <% if (username) { %>
                    <li><a href="/">Home</a></li>
                    <li><a href="/auth/logout">Log Out</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/tetris">Tetris</a></li>
                    <% } else{ %>
                        <li><a href="/">Home</a></li>
                        <li><a href="/auth/register">Register</a></li>
                        <li><a href="/auth/login">Log In</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/tetris">Tetris</a></li>
                        <% } %>
            </ul>
        </nav>
        <div class="user-info">
            <% if (username) { %>
                <span>Welcome, <%= username %>!</span>
            <% } %>
        </div>
        <h1>Log In</h1>
    </header>
    <main>
        <form action="/auth/login" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="submit">Login</button>
        </form>
    </main>
</body>
</html>