<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tetris</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script defer src="/js/tetris.js"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <% if (username) { %>
                    <li><a href="/">Home</a></li>
                    <li><a href="/auth/logout">Log Out</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/tetris">Tetris</a></li>
                    <% } else{ %>
                        <li><a href="/">Home</a></li>
                        <li><a href="/auth/register">Register</a></li>
                        <li><a href="/auth/login">Log In</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/tetris">Tetris</a></li>
                        <% } %>
            </ul>
        </nav>
        <div class="user-info">
            <% if (username) { %>
                <span>Welcome, <%= username %>!</span>
            <% } %>
        </div>
        <h1>Tetris Game</h1>
    </header>
    <main>
        <div id="tetris-container">
                <canvas id="tetris" width="300" height="600"></canvas>
                <div class="sidebar">
                    <div id="score">Score: 0</div>
                    <button id="startButton">Start Game</button>
                </div>
            </div>
            <script src="tetris.js"></script>
        </div>
    </main>
</body>
</html>
